*{
    margin: 0px;
    padding: 0px;
}
.wrapper{
    width: 100%;
}
.home{
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.home:after{
    content:"";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top:0px;
    left: 0px;
    z-index: 2;
}
.video{
    position: relative;
    z-index: 1;
}
.video_media{
    position: absolute;
    top: 0;
    left: 0;
}